/node_modules
/server/data/tmp
/server/data/compiletmp
/server/data/uploadtmp
/server/data/uploadimg
/local_tools
/.idea/workspace.xml
/.idea/webServers.xml
/.idea/deployment.xml
/.idea/jsLibraryMappings.xml
/.idea/mongoSettings.xml
/.idea/shelf
/.sass-cache
/public
/mongo_db
/client/admin_pc/compile_component_temp
/.idea/libraries
/.idea/meetin_admin.iml
/yarn-error.log
/npm-debug.log
server/routes/wechat/open_platform/verify_ticket
server/routes/wechat/open_platform/wxoas_token.json
